<h1>Users</h1>
<table class="table">
	<thead>
		<tr>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |u| %>
			<tr>
					<td><%= link_to u.name, u %></td>
			</tr>
		<% end%>
	</tbody>
</table>
